body {
  background-color: #f8f8f8 !important;
}
.CodeMirror {
  height: 65vh !important;
  font-family: "Nanum Gothic Coding" !important;
  font-size: 18px !important;
  width: 65vw !important;
  border-radius: 20px !important;
  padding: 15px !important;
}
.code__editor {
  display: grid;
  place-items: center;
}
.selector_editor {
  margin-top: 40px;
  display: grid;
  place-items: center;
  grid-template-columns: 99% 1%;
}
.language_selecter_button {
  margin-left: -200px;
  display: flex;
  justify-content: center;
}

.dropdownToggle {
  width: 150px;
}

.InputGroup {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  width: 100vw;
  margin-top: 10px;
  h3 {
    color: gray;
    font-size: 20px;
    margin-right: -10px;
  }
  button {
    border: none;
    padding: 10px 20px;
    background-color: #b9345a;
    border-radius: 5px;
    margin-right: 10px;
  }
}

.input {
  margin-left: 25px;
  margin-right: 30px;
  width: 50vw !important;
}

.output {
  margin-top: 10px;
  width: 90%;
  border-radius: 10px;
  background-color: #001133;
  height: 135px;
  overflow: scroll;
  h1 {
    padding: 10px 0px 0 15px;
    font-size: 18px;
    color: red;
  }
}

::-webkit-scrollbar {
  width: 0.5px;
}

@media (max-width: 950px) {
  .selector_editor {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 10px !important;
  }
  .CodeMirror {
    height: 55vh !important;
    width: 90vw !important;
  }
  .output {
    height: 100px !important;
  }
  .InputGroup {
    button {
      padding: 5px 10px;
      margin-left: -10px;
    }
  }
}
